/* I wanted to see how i can use DOM manipulation along with object oriented programming to create html contents.
This will be very vital for blogs and other projects tha follow repetitive patterns like your Periodic table,
 where you had to type out all your elements and their atomic numbers and ended up having som many DIVS in the html */



body {
    margin: 5PX auto;
}

header {
    text-align: center;
    padding: 2%;
    color: blue;
    margin-bottom: -80px;
}
main {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 3%;
        box-sizing: border-box;
        height: fit-content;
        padding: 100px 3% 100px;
}

.box{
    border: 5px solid blue;
    width: 100%;
    height: 320px;
    padding: 10px auto;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    background-color: aliceblue;
}

.box:hover{
    background-color: burlywood ;
}

@media ( max-width: 900px) {
    
    main {
        grid-template-columns: auto auto;
        padding: 100px 2%;    
            }

    .box{
        border: 5px solid goldenrod;
        }

}

@media ( max-width: 650px) {

    main {
         display: flex;   
         flex-direction: column-reverse;
         gap: 50px;
         padding: 100px 2% 400px; 
          }

    .box{
        border: 5px solid black;
        } 

        }